@import "../../global.scss";

.topbar {
    background-color: white;
    color: $mainColor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 21;
    transition: all 1s ease;

    .wrapper {
        padding: 8px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;


            .logo {
                font-size: 35px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    &:hover, &:focus {
                        text-decoration: none;
                        color: black;
                    }

                    .icon {
                        font-size: 20px;
                        margin-right: 5px;
    
                        @include ipad {
                            font-size: 23px;
                        }
                    }

                    span {

                        @include ipad {
                            display: none;
                        }
                    }
                }
            }
        }

        .right {
            display: flex;

            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                overflow: hidden;

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active {
        background-color: $mainColor;
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                    
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }

        .itemContainer span, .icon {
            color: white;
        }
    }
}