@import "../../global.scss";

.intro {
    height: calc(100vh - 70px);
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;

    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: right;

            @include mobile {
                align-items: flex-start;
            }
            
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;

                @include mobile {
                    height: 50%;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;

                @include mobile {
                    font-size: 40px;
                }
            }

            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;

                @include mobile {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    -webkit-animation: blink 0.3s infinite;
                    -moz-animation: blink 0.3s infinite;
                    animation: blink 1s infinite;
                    animation-direction: alternate;
                }

                @keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
                @-webkit-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
                @-moz-keyframes blink {
                    100% {
                        opacity: 0;
                    }
                }
            }

            button {
                border: 1px solid #000;
                background-color: rgb(223, 45, 80);
                color: white;
                width: 150px;
                margin-top: 45px;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                font-size: 17px;
                font-weight: 500;
                border-radius: 8px;

                &:hover, &:focus {
                    outline: none;
                }

                .icon {
                    margin-right: 3px;
                    font-size: 18px;
                }
            }
        }
        a {
            position: absolute;
            bottom: 10px;
            left: 40%;
            color: $mainColor;

            .downIcon {
                font-size: 40px;
                font-weight: 500;
                animation: arrowBlink 2s infinite;

                @include mobile {
                    display: none;
                }
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                    
                }
            }
        }
    }
}